
<div id="cart">
    <a class="btn btn-1" href="@Url.Action("GioHang","GioHang")" style="color:orange">
        Giỏ Hàng<i class="fa-solid fa-cart-shopping fa-beat-fade" style="color: #e4620c;"></i> (@ViewBag.TongSoLuong)
    </a>
</div>
